footer {
  background-color: #41197f;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
  padding: 10px 150px;
}

.meal-footer, .drink-footer {
  color: rgb(244, 190, 52);
}
.meal-footer:hover, .drink-footer:hover {
  filter: invert(57%) sepia(35%) saturate(304%)
    hue-rotate(303deg) brightness(98%) contrast(98%);
}

.drink-img {
  width: 100px;
  position: absolute;
  top: 10px;
}